<!-- Home page design with small circular image bisecting card. -->

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%; margin-top: -75px" class="ui middle aligned grid ">

  <div class="column">

    <div style="position: relative; top: 75px; z-index: 1" class="ui fluid centered small circular image">
      <img src="{{ site.data.bio.basics.picture }}">
    </div>


    <div style="max-width: 500px; padding-top: 75px; margin-top: 0px" class="ui fluid centered card">

      <div class="center aligned content">
        <span class="header">{{ site.data.bio.basics.name }}</span>
        <div class="meta">
          <span class="date">{{ site.data.bio.basics.label }}</span>
        </div>
        <div class="left aligned description">
          {{ site.data.bio.basics.summary }}
        </div>
      </div>
      <div class="center aligned content">
        <div class="description">
          Interests:
          {% for interest in site.data.bio.interests %}
            {{ interest.name }}{% if forloop.last != true %}, {% endif %}
          {% endfor %}

        </div>
      </div>
      <div class="center aligned extra content">
        {% include home-network-links.html %}
      </div>
      <div class="center aligned content">
        <a href="{{ site.baseurl}}/projects/">
          <button class="ui basic button">Projects ({{ num_projects }})</button>
        </a>
        <a href="{{ site.baseurl}}/essays/">
          <button class="ui basic button">Essays ({{ num_essays }})</button>
        </a>
        <a href="{{ site.baseurl}}/bio/">
          <button class="ui basic button">{{ site.bio-page-label }}</button>
        </a>
      </div>
    </div>
  </div>

  <style>
    * {
    margin:0; padding:0;
    box-sizing:border-box;
  }
  :root {
    --bg:#4A5240;
    --stairtop:#ADA8BE;
    --stairface:#A28497;
    --stairside:#6F5E5C;
    --door:#C6CAED;
  }
  html, body {
    background:var(--bg);
    overflow:hidden;
    height:100%;
  }
  #main-wrapper {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
  }
  #stairs {
    margin-top: 17em;
    backface-visibility: hidden;
    transform:rotateX(70deg) rotateZ(40deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .item {
    --startsize:0px;
    --endsize:calc(var(--index) * 30px);
    --largeur: 100px;
    --longueur: 40px;
    --duration:.3s;
    --delay:calc(var(--index) * .3s);
    position: relative;
    display:block;
    width: var(--largeur);
    height: var(--longueur);
    background: var(--stairtop);
    transform: translateZ(var(--startsize));
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation:stairs1 var(--duration) ease-out var(--delay) forwards;
    -moz-animation:stairs1 1s ease-out .3s forwards;
  }
  @keyframes stairs1 {
    to {
      transform: translateZ(var(--endsize));
    }
  }
  .item:after,
  .item:before {
    content: '';
    position: absolute;
    top:0; left:0;
    backface-visibility: hidden;
  }
  .item:after {
    height: var(--startsize);
    width: var(--largeur);
    background-color: var(--stairface);
    transform: rotateX(-90deg) translateY(var(--startsize)) translateZ(calc(-1 * var(--startsize) + var(--longueur)));
    transform-origin: 100% 100%;
    animation:stairs2 var(--duration) ease-out var(--delay) forwards;
    -moz-animation:stairs2 1s ease-out .3s forwards;
  }
  @keyframes stairs2 {
    to {
      height: var(--endsize);
      transform: rotateX(-90deg) translateY(var(--endsize)) translateZ(calc(-1 * var(--endsize) + var(--longueur)));
    }
  }
  .item:before {
    height: var(--longueur);
    width: var(--startsize);
    background-color: var(--stairside);
    transform: rotateY(90deg) translateX(var(--startsize)) translateZ(calc(-1 * var(--startsize) + var(--largeur)));
    transform-origin: 100% 0;
    animation:stairs3 var(--duration) ease-out var(--delay) forwards;
    -moz-animation:stairs3 1s ease-out .3s forwards;
  }
  @keyframes stairs3 {
    to {
      width: var(--endsize);
      transform: rotateY(90deg) translateX(var(--endsize)) translateZ(calc(-1 * var(--endsize) + var(--largeur)));
    }
  }
  .door {
    --size:170px;
    --largeur: 100px;
    --longueur: 20px;
    position: relative;
    display:block;
    width: var(--largeur);
    height: var(--longueur);
    background: var(--stairtop);
    transform:translateZ(320px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .door:after,
  .door:before {
    content: '';
    position: absolute;
    top:0; left:0;
    backface-visibility: hidden;
  }
  .door:after {
    height: var(--size);
    width: var(--largeur);
    transform: rotateX(-90deg) translateY(var(--size)) translateZ(calc(-1 * var(--size) + var(--longueur)));
    transform-origin: 100% 100%;
    background-color:var(--door);
    background-image: radial-gradient(ellipse at 27px 95px, #333 0, #333 4px, transparent 5px);
    box-shadow: inset 0px 0px 0px 6px var(--stairface), inset 2px -2px 0px 8px var(--stairside), inset 2px -1px 0px 16px var(--stairtop);
  }
  .door:before {
    height: var(--longueur);
    width: var(--size);
    background-color: var(--stairside);
    transform: rotateY(90deg) translateX(var(--size)) translateZ(calc(-1 * var(--size) + var(--largeur)));
    transform-origin: 100% 0;
  }
  </style>

  <div id="main-wrapper">
    <div id="stairs">
      <div class="door"></div>
      <div class="item" style="--index:5;"></div>
      <div class="item" style="--index:4;"></div>
      <div class="item" style="--index:3;"></div>
      <div class="item" style="--index:2;"></div>
      <div class="item" style="--index:1;"></div>
      <div class="item" style="--index:0;"></div>
    </div>
  </div>

</div>
